.App {
  font-family: sans-serif;
  text-align: center;
}
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: #dfe6e9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.btn {
  background-color: #000000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
  border: 0;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding: 20px 40px;
  outline: 0;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:hover {
  opacity: 0.9;
}

.btn:hover .tooltip {
  transform: translate(-50%, 120%);
  opacity: 1;
}

.tooltip {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  color: #555;
  font-weight: 300;
  padding: 15px 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 0);
  transition: all 0.5s ease;
  text-align: center;
  white-space: nowrap;
}
